:root {
  --main-color-white: #ffffff;
  --secondary-color-grey: #757575;
  --third-color-dark: #212121;
  --forth-color-blue: #2196f3;
  --main-background-color-white: #fff;
  --secondary-background-color-grey: #f5f4fa;
  --third-background-color-dark: #2f303a;
  --button-background-blue: #2196f3;
}

*::after,
::before {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--main-background-color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-grey);
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 215px;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
}

/* nav */
nav {
  display: flex;
  align-items: center;
}

.logo-a {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-color-dark);
  margin-right: 93px;
}

.logo-span {
  color: #2196f3;
}

.nav-list {
  display: flex;
  gap: 50px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--third-color-dark);
}

.page-link {
  color: var(--third-color-dark);
  text-decoration: none;
  display: inline-flex;
  padding: 32px 0;
}

.page-link:hover,
.page-link:focus {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
}
/* nav END */

/* adress */
.list-adress {
  display: flex;
  align-items: center;
}

.list-adress li {
  margin-left: 30px;
}

.list-adress a {
  color: var(--secondary-color-grey);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.list-adress a:hover,
.list-adress a:focus {
  color: #2196f3;
}
/* adress END */

/* Main */
/* Hero */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  background: url(../images/hero-Img.jpg) no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
}

.hero-title {
  color: var(--main-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Button-Hero */
.button-hero {
  color: var(--main-color-white);
  background-color: var(--button-background-blue);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

/* feature */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color-grey);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--third-color-dark);
}

/* Work */
/* заголовок H2 */
.work {
  padding-bottom: 94px;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: var(--third-color-dark);
}

.work-list {
  display: flex;
  gap: 30px;
  height: 294px;
  width: 370px;
}

.work li {
  position: relative;
}

.work h3 {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* Work END */

.team-list-item {
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.social-container {
  width: 206px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social:hover {
  background-color: var(--forth-color-blue);
  cursor: pointer;
  transition: 1s;
}

.our-team {
  background-color: var(--secondary-background-color-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--third-color-dark);
}

.our-team li {
  background-color: var(--main-background-color-white);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;

  color: var(--secondary-color-grey);
}
/* comanda END */

/* client */
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item:hover {
  border-bottom: #212121;
  opacity: 0.5;
  transition: 1s;
}
/* Main END */

/* Footer */
footer {
  background-color: var(--third-background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-bottom: 20px;
}

.footer-logo {
  color: var(--main-color-white);
}

.adress-list {
  font-style: normal;
}

.adress-first {
  color: var(--main-color-white);
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--forth-color-blue);
}

footer .container {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-social {
  margin-right: 93px;
}

footer p {
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img:hover {
  background-color: var(--button-background-blue);
  cursor: pointer;
  transition: 1s;
}

.subscribe-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
}

.footer-subscribe input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  background-color: var(--third-background-color-dark);

  padding-left: 16px;
  outline: none;
}

/* button send */
footer button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  color: var(--main-color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
}

.icon_send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

footer button:hover,
footer button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
/* button send END */
/* Footer END */

/* Second page */
/* radio */
.radio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--third-color-dark);
  background-color: var(--secondary-background-color-grey);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: flex;
  gap: 8px;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--main-color-white);
  background-color: var(--button-background-blue);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* cards */
.radio {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.examples a {
  text-decoration: none;
}

.examples h2 {
  color: var(--third-color-dark);
  margin-left: 24px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  
  letter-spacing: 0.06em;
}

.examples p {
  margin-left: 24px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  
  color: var(--secondary-color-grey);
}

.examples li {
  width: 370px;
}
